version: '3.9'
services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpass
      POSTGRES_DB: swasthsaathi_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  backend:
    build: ./swasthsaathi-backend
    env_file:
      - ./swasthsaathi-backend/.env
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - mongo
    volumes:
      - ./swasthsaathi-backend:/app
      - ./storage:/app/storage

  frontend:
    build: ./swasthsaathi-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  pgdata:
  mongodata:
